# === General ===
*.class
*.log
*.ctxt
*.iml
hs_err_pid*
replay_pid*

# === Archives ===
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# === IntelliJ IDEA ===
.idea/
out/
*.iws
*.ipr

# === Mobile Tools for Java (J2ME) ===
.mtj.tmp/

# === Maven ===
.mvn/
mvnw
mvnw.cmd
target/
build/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
!**/src/main/**/build/
!**/src/test/**/build/

# === Service-specific folders ===
product-service/data/
order_service/data/
order_service/mysql/
inventory-service/mysql/
apigateway/mysql/
frontend/
# === Spring Tool Suite (STS) ===
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

# === NetBeans ===
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# === VS Code ===
.vscode/

# === Docs ===
HELP.md

.postman/
postman/
docs/